<h1 style="color:yellow;">Arithmetic Operators </h1>

### Addition (+)
Adds two numbers.

In [550]:
print(100+100)

200

In [551]:
a = 10
b = 15
print(a + b)

25

In [552]:
a = 200
print(a + 2)

202

### Subtraction (-)
 Subtracts the second number from the first.

In [553]:
print(20 - 10)

10

In [554]:
a = 15
b = 10
print(a - b)

5

In [555]:
a = 2
print(a - 5)

-3

### Multiplication (*)
Multiplies two numbers.

In [556]:
print(5 * 5)

25

In [557]:
a = 5
b = 2
c = 25
print(a * b * c)

250

In [558]:
a = 3
b = 4
print(a * b * 2)

24

### Division (/)
Divides the first number by the second, returning a float.

In [559]:
print(20 / 4)

5.0

In [560]:
a = 20
b = 4
print(a / b)

5.0

In [561]:
a = 100
print(a / 50)

2.0

### Floor Division 
Divides the first number by the second, returning the largest integer less than or equal to the result.

In [562]:
print(23 // 4)

5

In [563]:
a = 103
b = 50
print(a // b)

2

In [564]:
a = 100
print(a // 50)

2

### Modulus (%)
Returns the remainder of the division of the first number by the second.

In [565]:
print(20 % 2)

0

In [566]:
a = 10
b = 3
print(a % b)

1

In [567]:
a = 12
print(a % 2)

0

### Exponentiation (**)
Raises the first number to the power of the second.

In [568]:
print(25 ** 3)

15625

In [569]:
a = 5
b = 2
print(a ** b)

25

In [570]:
a = 5
print(a ** 5)

3125

<h1 id="assignment-operators" style="color:yellow;">Assignment Operators </h1>

### Basic Assignment (=)

In [571]:
a = 10
print(a)

10

In [572]:
a = 10
a = 5
print(a)

5

In [573]:
b = 10 + 10
print(b)

20

### Addition Assignment (+=)

In [574]:
a = 10
a += 5  # Equivalent to x = x + 5; x is now 15
print(a)

15

In [575]:
a = 10
b = 30
a += b
print(a)

40

In [576]:
a = 10
b = 10
a += b
b += a
print(a + b)

50

### Subtraction Assignment (-=)

In [577]:
a = 10
a -= 4 # Equivalent to x = x - 4; x is now 6
print(a)

6

In [578]:
a = 10
b = 30
a -= b
print(a)

-20

In [579]:
a = 10
b = 10
a += b
b -= a
print(a + b)

10

### Multiplication Assignment (*=)

In [580]:
a = 10
a *= 4 # Equivalent to x = x * 4; x is now 40
print(a)

40

In [581]:
a = 10
b = 30
a *= b
print(a)

300

In [582]:
a = 10
b = 10
a += b
b *= a
print(a + b)

220

### Division Assignment (/=)

In [583]:
a = 10
a /= 4 # Equivalent to x = x / 4; x is now 2.5
print(a)

2.5

In [584]:
a = 10
b = 30
a /= b
print(a)

0.3333333333333333

In [585]:
a = 10
b = 10
a += b
b /= a
print(a + b)

20.5

## Floor Division Assignment (//=)

In [586]:
a = 10
a //= 4 # Equivalent to x = x // 4; x is now 2
print(a)

2

In [587]:
a = 10
b = 30
a //= b
print(a)

0

In [588]:
a = 10
b = 10
a += b
b //= a
print(a + b)

20

### Modulus Assignment (%=)

In [589]:
a = 10
a %= 4 # Equivalent to x = x % 4; x is now 2
print(a)

2

In [590]:
a = 10
b = 30
a %= b
print(a)

10

In [591]:
a = 10
b = 10
a += b
b %= a
print(a + b)

30

### Exponentiation Assignment (**=)

In [592]:
a = 10
a **= 4 # Equivalent to x = x ** 4; x is now 10000
print(a)

10000

In [593]:
a = 10
b = 30
a **= b
print(a)

1000000000000000000000000000000

In [594]:
a = 10
b = 10
a += b
b **= a
print(a + b)

100000000000000000020

<h1 style="color:yellow;">Unary Operators </h1>

In [595]:
x = +5  # x is 5
print(x)

5

In [596]:
x = 5
y = -x  # y is -5
print(y)

-5

In [597]:
a = True
b = not a  # b is False
print(b)

False

<h1 style="color:yellow;">Relational Operators </h1>

### Equal to (==)
Checks if two values are equal.

In [598]:
print(5 == 10)

False

In [599]:
a = 10
b = 5
print(a == b)

False

In [600]:
a = 10
b = 5
print(a == b + b)

True

### Not equal to (!=)
Checks if two values are not equal.

In [601]:
print(5 != 3)

True

In [602]:
a = 10
b = 10
print(a != b)

False

In [603]:
a = 10 
b = 2
b += 5
print(a + b != 17)

False

### Greater than (>)
Checks if the value on the left is greater than the value on the right.

In [604]:
print(5 > 4)

True

In [605]:
a = 10
b = 20
print(a > b)

False

In [606]:
a = 20
print(a + 10 > a)

True

### Less than (<)
Checks if the value on the left is less than the value on the right.

In [607]:
print(5 < 4)

False

In [608]:
a = 10
b = 7
print(a < b)

False

In [609]:
a = 20
print(a + 10 < a)

False

### Greater than or equal to (>=)
Checks if the value on the left is greater than or equal to the value on the right.

In [610]:
print(5 >= 5)

True

In [611]:
a = 10
b = 11
print(b >= a)

True

In [612]:
a = 10
b = 20
print(a >= b + a)

False

### Less than or equal to (<=)
Checks if the value on the left is less than or equal to the value on the right.

In [613]:
print(5 <= 5)

True

In [614]:
a = 10
b = 11
print(b <= a)

False

In [615]:
a = 10
b = 20
print(a <= b + a)

True

<h1 style="color:yellow;">Logical Operators </h1>

### Logical AND (and)
Returns True if both operands are True. Otherwise, it returns False

In [616]:
print(True and False)

False

In [617]:
a = True
b = True
print(a and b)

True

In [618]:
a = 10
b = 20
c = (b > 5) and (b < 30) 
print(c)

True

### Logical OR (or)
Returns True if at least one of the operands is True. It only returns False if both operands are False.

In [619]:
print(True or False)

True

In [620]:
a = False
b = False
print(a or b)

False

In [621]:
a = 10
b = 20
c = (a < 5) or (b < 30)
print(c)

True

### Logical NOT (not)
Inverts the boolean value of its operand. It returns True if the operand is False, and False if the operand is True

In [622]:
print(not True)

False

In [623]:
a = False
print(not a)

True

In [624]:
a = 10
c = not (a > 5)
print(c)

False