<h1><u>Type Conversion</u></h1>
In Python, type conversions (also known as type casting) involve converting a value from one data type to another

<h3 style="color:Yellow;">Int()</h3>
Converts a value to an integer.

In [19]:
x = 3.14
y = "42"
x = int(x)
y = int(y)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))

Value of x after conversion = 3
Value of y after conversion = 42
Type of x after conversion = <class 'int'>
Type of y after conversion = <class 'int'>

<h3 style="color:Yellow;">float()</h3>
Converts a value to a floating-point number.

In [20]:
x = 5
y = "2.5"
x = float(x)
y = float(y)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))

Value of x after conversion = 5.0
Value of y after conversion = 2.5
Type of x after conversion = <class 'float'>
Type of y after conversion = <class 'float'>

<h3 style="color:Yellow;">str()</h3>
Converts a value to a string.

In [21]:
x = 5
y = 200
x = str(x)
y = str(y)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))

Value of x after conversion = 5
Value of y after conversion = 200
Type of x after conversion = <class 'str'>
Type of y after conversion = <class 'str'>

<h3 style="color:Yellow;">bool()</h3>
Converts a value to a boolean.

In [22]:
x = 1
y = 0
z = ""
k = "Hello"
x = bool(x)
y = bool(y)
z = bool(z)
k = bool(k)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Value of z after conversion =",z)
print("Value of k after conversion =",k)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))
print("Type of y after conversion =",type(z))
print("Type of y after conversion =",type(k))

Value of x after conversion = True
Value of y after conversion = False
Value of z after conversion = False
Value of k after conversion = True
Type of x after conversion = <class 'bool'>
Type of y after conversion = <class 'bool'>
Type of y after conversion = <class 'bool'>
Type of y after conversion = <class 'bool'>

<h3 style="color:Yellow;">list()</h3>
Converts an iterable (like a tuple or string) to a list.

In [23]:
x = [1, 2, 3, 4, 5]
y = ('a', 'b', 'c', 'd')
x = list(x)
y = list(y)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))

Value of x after conversion = [1, 2, 3, 4, 5]
Value of y after conversion = ['a', 'b', 'c', 'd']
Type of x after conversion = <class 'list'>
Type of y after conversion = <class 'list'>

<h3 style="color:Yellow;">tuple()</h3>
Converts an iterable to a tuple.

In [24]:
x = [1, 2, 3, 4, 5]
y = ['a', 'b', 'c', 'd']
x = tuple(x)
y = tuple(y)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))

Value of x after conversion = (1, 2, 3, 4, 5)
Value of y after conversion = ('a', 'b', 'c', 'd')
Type of x after conversion = <class 'tuple'>
Type of y after conversion = <class 'tuple'>

<h3 style="color:Yellow;">set()</h3>
Converts an iterable to a set, which removes duplicates.

In [25]:
x = [1, 2, 3, 4, 5]
y = ('a', 'b', 'c', 'd')
x = set(x)
y = set(y)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))

Value of x after conversion = {1, 2, 3, 4, 5}
Value of y after conversion = {'b', 'a', 'c', 'd'}
Type of x after conversion = <class 'set'>
Type of y after conversion = <class 'set'>

<h3 style="color:Yellow;">dict()</h3>
Converts an iterable to a tuple.

In [26]:
x = [(1, 2), (3, 4), (5, 7)]
y = (('a', 'b'), ('c', 'd'))
x = dict(x)
y = dict(y)
print("Value of x after conversion =",x)
print("Value of y after conversion =",y)
print("Type of x after conversion =",type(x))
print("Type of y after conversion =",type(y))

Value of x after conversion = {1: 2, 3: 4, 5: 7}
Value of y after conversion = {'a': 'b', 'c': 'd'}
Type of x after conversion = <class 'dict'>
Type of y after conversion = <class 'dict'>

## Special Cases
Converting Between Different Numeric Types: Python handles this implicitly. For instance, operations between integers and floats will result in a float.

In [28]:
x = 5 + 3.2  # x will be 8.2 (float)
print(x)

8.2

If we try to convert a character string to int the function will fail

In [29]:
x = "Hello"
x = int(x)
print(x)

ValueError: invalid literal for int() with base 10: 'Hello'