<strong><h1><u>Variables</u></h1></strong>
<p>In python, variables are categorised into multiple.<p>

## Integer
Stores Whole numbers 
eg: 1, 2, 200, -33

In [18]:
a = 10
print(a)

10

In [19]:
b = 20
print(b)

20

In [20]:
c = -300
print(c)

-300

## Float
Stores numbers with a decimal point, e.g., 3.14, -0.001, 2.71828

In [21]:
pi = 3.14
print(pi)

3.14

In [22]:
a = 0.5
print(a)

0.5

In [23]:
a = -1.15
print(a)

-1.15

## Boolean
Represents True or False, used for logical operations.

In [35]:
a = True
print(a)

True

In [36]:
a = False
print(a)

False

## String
A sequence of characters, e.g., "Hello, world!", 'Python'. (In string we can use both single or double quotes)

In [37]:
a = "Hello world"
print(a)

Hello world

In [38]:
a = 'John Doe'
print(a)

John Doe

In [39]:
a = 'A'
print(a)

A

## List
An ordered collection of items, which can be of mixed types, e.g., [1, 2, 3], ['a', 2, 3.5]

In [40]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [43]:
a = [1,2,"Hello",'world']
print(a)

[1, 2, 'Hello', 'world']

In [44]:
a = [1.5,-10,'a',True]
print(a)

[1.5, -10, 'a', True]

## Tuple
An ordered collection of items that is immutable (cannot be changed), e.g., (1, 2, 3), ('a', 2, 3.5)

In [46]:
a = (1, 2, 3, 4, 5)
print(a)

(1, 2, 3, 4, 5)

In [47]:
a = (1,2,"Hello",'world')
print(a)

(1, 2, 'Hello', 'world')

In [48]:
a = (1.5,-10,'a',True)
print(a)

(1.5, -10, 'a', True)

## Dictionary 
A collection of key-value pairs, e.g., {'name': 'Alice', 'age': 30}

In [57]:
a = {'Name':'John','Age':'Doe'}
print(a['Name'])
print(a['Age'])

John
Doe

In [58]:
a = {1:'Hello',2:'World'}
print(a[1])
print(a[2])

Hello
World

In [56]:
a = {1:1.5,2:3.5,3:True,4:-23,5:"Hello world"}
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

1.5
3.5
True
-23
Hello world

## Set  
An unordered collection of unique items, e.g., {1, 2, 3}, {‘apple’, ‘banana’}

In [61]:
a = {2,3,1,4,"Hello"}
print(a)

{1, 2, 3, 4, 'Hello'}

In [62]:
a = {"World","Hello", 1}
print(a)

{1, 'Hello', 'World'}

In [65]:
a = {-21,11,122,True,-12}
print(a)

{True, -12, -21, 122, 11}

## None  
None (NoneType): Represents the absence of a value or a null value, e.g., None

In [67]:
a = None
print(a)

None

In [68]:
a = [1,2,3,4,None]
print(a)

[1, 2, 3, 4, None]

In [ ]:
a = [1,2,3,4,None)
print(a)